<ion-app>
  <ion-menu contentId="main-content" menuId="main-menu">
    <ion-header>
      <ion-toolbar class="custom-toolbar-side-menu">
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="sidenav" id="mySidenav">
        <br>
        <a href="/home">{{ 'nav.home' | translate }}</a>
        <a href="/notes">{{ 'nav.documents' | translate }}</a>
        <a href="/about-us">{{ 'nav.aboutUs' | translate }}</a>
        <a href="/contact">{{ 'nav.contact' | translate }}</a>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
